'''
   # Consisten en pedirle al usuario que adivine 
   un número elegido aleatoriamente por el programa.

    # El objetivo es que el usuario (quien dara el input) adivine correctamente el número 
   (elegido aleatoriamente por el programa) en la menor cantidad de intentos posible.

   # El programa establece un rango de números posibles y 
   elige aleatoriamente un número dentro de ese rango.
